<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientID" value="84a7f13362ee4f3ebf5996e146c75d3e"/>
		<add key="ClientSecret" value="0ead5eef9c414c58a358ec17642a0f29"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>